.title {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  margin-top: 15px;
  margin-bottom: 5px;
}
.title li {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  gap: 20px;
}
.title li:hover {
  background-color: #ece8ff;
}

.icon {
  font-size: 18px;
  color: #7451f8;
}

li > span {
  font-size: 13px;
  font-weight: 600;
  color: #888;
  margin-left: 10px;
}
